<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="JFrogNuGetProxy" value="https://jfrog.i40.ifm-datalink.net/artifactory/api/nuget/v3/vicione-nuget.org-proxy/index.json" />
    <add key="JFrogViciOne" value="https://jfrog.i40.ifm-datalink.net/artifactory/api/nuget/v3/vicione-nuget/index.json" />
  </packageSources>  
  <packageSourceMapping>
    <packageSource key="JFrogNuGetProxy">
      <package pattern="*" />
    </packageSource>
    <packageSource key="JFrogViciOne">
      <package pattern="ifm.*" />
      <package pattern="ViciOne.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
