<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <ResultsDirectory>artifacts/tests</ResultsDirectory>
    </RunConfiguration>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat Code Coverage">
                <Configuration>
                    <!-- Cover coverage can be determined via Coverlet, see https://github.com/coverlet-coverage/coverlet#vstest-integration-preferred-due-to-known-issue -->
                    <Format>cobertura</Format>
                    <Exclude>[*Test*]*, [*Fact*]*</Exclude>
                    <!-- Exclude by source file path (generated NTypewriter outputs) -->
                    <ExcludeByFile>**/*.nt.cs, **/*.g.cs</ExcludeByFile>
                    <ExcludeByAttribute>GeneratedCode,Migration,DbContext</ExcludeByAttribute>
                    <IncludeTestAssembly>false</IncludeTestAssembly>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
