@use "../../Styles/design/colors";
@use "../../Styles/design/typography";
@use "../../Styles/user-interaction";

@use "sass:color";

.expandable-toolbar-button {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    width: 100%;

    --background-color: transparent;
    --expandable-button-font-color: rgb(176, 176, 176);
    --collapse-button-font-color: transparent;

    &:hover, &:focus-within {
        --background-color: #{color.adjust(colors.$background-darker, $lightness: -2%)};
        --collapse-button-font-color: #{color.change(colors.$font-light, $alpha: 0.3)};
    }

    &.expanded {
        --background-color: #2f2f2f;
        --expandable-button-font-color: #{colors.$font-light};

        &:hover {
            --background-color: #{colors.$background-darker-hover};
        }
    }

    background-color: var(--background-color);
    transition: background-color .15s ease-in-out;

    button {
        background-color: transparent;
        border: none;
        margin: 0;
        text-transform: none;
        -webkit-appearance: button;
        transition: color .15s ease-in-out;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        background-color: transparent;
        line-height: 1.5;

        text-transform: none;

        &:focus:not(:focus-visible) {
            outline: 0;
        }

        &:not(:disabled) {
            @include user-interaction.show-pointer-cursor();
        }
    }

    .expand-button {
        display: grid;
        grid-template-columns: 24px auto;
        align-items: center;
        justify-items: start;

        padding: 8px;

        color: var(--expandable-button-font-color);

        ::deep > .icon {
            height: 24px;
            width: 24px;
        }

        > span {
            padding-left: 16px;

            font-size: 13px;
            font-weight: typography.$font-weight-regular;
        }
    }

    &:not(.compact) {
        .expand-button {
            padding-left: 16px;

            &[tabindex="-1"] {
                cursor: default;
            }
        }
    }

    .collapse-button {
        display: inline-flex;

        padding: 8px;

        color: var(--collapse-button-font-color);

        &:hover {
            --collapse-button-font-color: #{colors.$font-light};
        }
    }

    &.compact {
        width: 40px;
        margin-left: 8px;
        border-radius: 2px;
    }
}
