@use "../design/colors";

@use "sass:color";

// dimensions
$single-line-text-input-height: 24px;

// border
$border-radius: 3px;
$border-width: 1px;
$border-color-default: color.change(colors.$theme-inverted, $alpha: 0.2);

// associated drop-down
$drop-down-margin-top: 2px;

// states
$disabled-opacity: 0.5;
