@use "sass:color";

.custom-theme {
    --vo-ui-bc-color-accent: green;
    --vo-ui-bc-color-accent-hover: pink;
    --vo-ui-bc-check-box-color-accent-focus: #{color.adjust(green, $lightness: -10%)};
    --vo-ui-bc-check-box-color-accent-hover: #{color.adjust(pink, $lightness: -10%)};
}
