.table-header-container {
    display: flex;
    height: 56px;

    width: 100%;

    .action-button-container {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .filter-container {
        display: grid;

        width: 240px;

        margin-left: auto;
    }
}
