@use "../../Styles/design/scrollbar";

.section {
    grid-area: sections;

    height: 100%;
    position: relative;

    overflow: auto;
    @include scrollbar.adjust-styles();

    &.hidden {
        visibility: hidden; // adjust visibility instead of "display: none" to avoid reset of CSS animation state that might exists in section content ...

        // ... which also requires a height of 0px to ensure the now invisible section is not interfering with layout
        height: 0px;
        overflow: hidden;
    }
}
