@use "../../Styles/design/colors";

@use "sass:color";

.section-rail-button {
    // General resets
    box-sizing: border-box;
    padding: 8px 0px;
    margin: 0;
    border: 0;
    color: colors.$font;
    background-color: unset;
    font-family: unset;
    font-weight: unset;
    line-height: unset;
    
    display: flex;
    align-content: center;
    justify-content: center;

    $background-color-active: rgb(200, 200, 200);
    $color-active: colors.$background-darker;

    &:hover,
    &:focus,
    &:focus-visible {
        background-color: color.change($background-color-active, $alpha: 0.8);
        color: color.change($color-active, $alpha: 0.8);
    }

    &:focus-visible {
        outline: none;
    }

    &.active {
        background-color: $background-color-active;
        color: $color-active;
    }

    ::deep > .icon {
        width: 32px;
        height: 32px;
    }
}
