@use "../../../Styles/mixins";
@use "../../../Styles/design/colors";

.options {
    @include mixins.options-styling();
}

.demo-table {
    border-collapse: collapse;
    width: 320px;

    th {
        border: 1px solid colors.$theme-inverted;
        padding: 6px 12px;

        text-align: left;
        white-space: nowrap;
    }
}

.content {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    margin-top: 30px;

    .draggables {
        display: flex;
        flex-direction: column;
        gap: 16px;

        width: 320px;
    }

    .dropzones {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.last-drop-summary {
    margin-top: 24px;
}
