@use "../../../Styles/mixins";

.shape {
    width: 120px;
    height: 80px;

    &.draggable {
        cursor: grab;
    }

    &.dragged {
        .content::after {
            content: "Dragged";

            font-size: smaller;
        }
    }

    @include mixins.shape-styles($feature-css-class: "draggable", $started-css-class: "dragging", $ongoing-css-class: "dragging-ongoing");
}
