@use "../Styles/design/button";
@use "../Styles/design/colors";
@use "../Styles/design/typography";
@use "../Styles/design/animations/mixins" as animations;
@use "../Styles/animations/spinning-icon" as spinning-icon-animation;
@use "../Styles/animations/sweep" as sweep-animation;
@use "../Styles/buttons/mixins" as buttons;
@use "../Styles/inputs/mixins" as inputs;

@use "sass:color";

@include spinning-icon-animation.keyframes();

@include sweep-animation.properties();
@include sweep-animation.keyframes();

.button {
    // general resets
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    // general styles
    border-width: 1px;
    border-style: solid;
    border-color: #b1b1b1;
    border-radius: button.$border-radius;

    background-color: inherit;
    color: color.change(colors.$font-light, $alpha: 0.8);
    @include animations.multiple($border: true, $background-color: true);

    font-family: inherit;
    font-weight: typography.$font-weight-light;
    letter-spacing: 0.4px;

    display: inline-grid;
    grid-template-areas: "icon text";
    // grid-template-columns is set in modifier classes
    align-items: center;

    position: relative;

    ::deep .icon {
        grid-area: icon;
    }

    .text {
        grid-area: text;
    }

    md-ripple {
        --md-ripple-pressed-color: #{colors.$font-light};
        --md-ripple-pressed-opacity: 0.1;

        --md-ripple-hover-opacity: 0;
    }

    // size
    @include buttons.size-modifier($size: "small", $height: 24px, $icon-margin-left: 6px, $icon-margin-right: 6px, $icon-size: 16px, $font-size: 12px, $text-padding-left-right: 8px);
    @include buttons.size-modifier($size: "medium", $height: 32px, $icon-margin-left: 8px, $icon-margin-right: 8px, $icon-size: 24px, $font-size: 14px, $text-padding-left-right: 10px);
    @include buttons.size-modifier($size: "large", $height: 36px, $icon-margin-left: 10px, $icon-margin-right: 10px, $icon-size: 32px, $font-size: 16px, $text-padding-left-right: 13px);

    // state
    &.button--busy-sweep {
        @include sweep-animation.declarations();

        // The focus border already has the accent color, which would hide the arc.
        &:focus {
            &::before {
                @include sweep-animation.gradient(colors.$theme-inverted);
            }
        }
    }

    &.button--busy-spinning-icon {
        @include spinning-icon-animation.declarations();
    }

    // interaction
    @include inputs.disabled-style();

    @include buttons.no-outline-on-focus();

    &:not(:disabled):not(.button--busy) {
         &:hover {
            background-color: color.change(colors.$font-light, $alpha: 0.03);
        }
    }

    &:focus {
        border-color: colors.$accent;
    }
}
