@use "../Styles/design/colors";
@use "../../../src/ViciOne.Ui.Blazor.Components/Styles/buttons/mixins" as buttons;

li {
    padding-left: 0;

    .navigation-item {
        display: grid;
        grid-template-areas: "left right";
        grid-template-columns: 16px auto;
        align-items: center;
        gap: 4px;

        .expand-collapse-button {
            grid-area: left;

            @include buttons.lucent-styling();
        }

        ::deep .icon {
            grid-area: left;

            justify-self: center;
        }

        .link {
            grid-area: right;

            text-decoration: none;

            &.group {
                appearance: none;
                background-color: transparent;
                border: none;
                margin: 0;
                padding: 0;

                font: inherit;
                color: inherit;
                text-align: left;

                cursor: pointer;
            }

            &.current {
                color: colors.$accent;

                cursor: default;
            }
        }
    }

    .nested-navigation-items {
        list-style: none;
        padding-left: 16px;
    }
}
