@use "./../../Styles/design/tooltip";

.pre-render-container {
    visibility: collapse;
}

.tooltip-container {
    color: tooltip.$content-text-color;
    font-size: tooltip.$font-size;
    font-weight: tooltip.$font-weight;
    height: min-content;
    left: var(--position-x);
    letter-spacing: tooltip.$letter-spacing;
    line-height: tooltip.$line-height;
    min-width: 100px;
    pointer-events: none;
    position: fixed;
    top: var(--position-y);
    z-index: var(--position-z);

    & ::deep > * {
        // some visible parameters set here to allow tooltip implementations to override these parameters
        background-color: tooltip.$background-color;
        border-radius: tooltip.$border-radius;
        box-shadow: tooltip.$box-shadow;
        width: min-content;
    }
}
