@use "../../Styles/animations/mixins" as animations;
@use "variables";

@mixin toolbar-item-styles() {
    display: flex;
    align-items: center;
    text-wrap-mode: nowrap;

    margin-left: variables.$gap;

    &.disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.7;
    }

    &.hidden {
        display: none;
    }

    &.invisible {
        visibility: hidden;
    }

    &.in-menu {
        margin: 8px;
    }
}

@mixin hover-effect() {
    @include animations.background-color();

    &:hover {
        background-color: variables.$background-hover;
    }
}
