@use "../../Styles/design/colors";
@use "../../Styles/design/typography";
@use "../../Styles/user-interaction";
@use "../Styles/mixins";
@use "../Styles/variables";

.toolbar {
    display: flex;
    height: 32px;

    font-size: 13px;
    font-weight: typography.$font-weight-regular;
    letter-spacing: normal;

    padding-right: variables.$gap;

    .item-container {
        display: flex;
        flex-grow: 1;
    }

    .menu-container {
        display: flex;
        align-items: center;
        position: relative;

        border-radius: variables.$border-radius;

        padding-left: 4px;
        padding-right: 4px;
        margin-left: 24px;
        
        @include user-interaction.show-pointer-cursor();

        @include mixins.hover-effect();

        &:has(> .menu:focus-within) {
            background-color: rgb(78, 78, 78); // todo: where to pull this from color.scss? (original used opacity to lighten the background)
        }

        .menu {
            opacity: 0;
            pointer-events: none;

            position: absolute;
            top: 100%;
            right: 0;
            z-index: 100;
            width: max-content;

            margin-top: 2px;
            padding-top: 3px;
            padding-bottom: 3px;

            background-color: colors.$background-dark;

            border: 1px solid colors.$border;
            border-radius: variables.$border-radius;

            &:focus-within {
                opacity: 1;
                pointer-events: auto;
                outline: none;
            }
        }
    }
}
