@use "../../Styles/design/animations/mixins" as animations;
@use "../../Styles/design/button";
@use "../../Styles/design/colors";
@use "../../Styles/user-interaction";
@use "../Styles/mixins";
@use "../Styles/variables";

.toolbar-button {
    @include mixins.toolbar-item-styles();

    @include mixins.hover-effect();

    border-radius: button.$border-radius;

    @include user-interaction.show-pointer-cursor();
    user-select: none;

    &.active {
        color: colors.$accent;
    }

    &.disabled {
        color: rgb(78, 78, 78); // todo: where to pull this from colors.scss?
    }

    ::deep .icon {
        margin: 4px;
    }

    .text {
        margin-left: 8px;
        margin-right: 8px;
    }

    &:has(.icon) {
        .text {
            margin-left: 4px;
        }
    }
}
