@use "../../Styles/design/colors";
@use "../../Styles/design/typography";

.toolbar {
    display: flex;
    height: 34px;

    font-size: 13px;
    font-weight: typography.$font-weight-regular;
    letter-spacing: normal;

    .item-container {
        display: flex;
        flex-grow: 1;
    }

    .menu-container {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        border-radius: 3px;

        &:hover {
            background-color: rgb(69, 69, 69); // todo: *nearly* $background-light but also a hover state and definitely not $background-light-hover (original used opacity to lighten the background) -> where to pull this from color.scss?
        }

        &:has(> .menu:focus-within) {
            background-color: rgb(78, 78, 78); // todo: where to pull this from color.scss? (original used opacity to lighten the background)
        }

        .menu {
            opacity: 0;
            pointer-events: none;

            position: absolute;
            top: 100%;
            right: 0;
            z-index: 100;
            width: max-content;

            padding-top: 3px;
            padding-bottom: 3px;
            background-color: colors.$background-dark;
            border: 1px solid colors.$border;

            &:focus-within {
                opacity: 1;
                pointer-events: auto;
                outline: none;
            }
        }
    }
}
