@use "../Styles/design/colors";
@use "../Styles/inputs";

@use "sass:color";

.combo-box {
    display: inline-grid;
    grid-template-rows: auto 0px;
    grid-template-areas:
        "input"
        "drop-down";

    vertical-align: middle;

    @include inputs.single-line-text-input-style();
    @include inputs.typography();
    @include inputs.disabled-style();

    $drop-down-icon-wrapper-width: inputs.$single-line-text-input-height;

    .input-wrapper {
        grid-area: input;

        position: relative;

        ::deep .combo-box-input {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            @include inputs.padding($right: $drop-down-icon-wrapper-width);
        }
    }

    .drop-down-icon-wrapper {
        grid-area: input;

        justify-self: end; // display icon on the right

        width: $drop-down-icon-wrapper-width;

        display: grid;
        align-items: center;
        justify-items: center;
    }

    ::deep .drop-down {
        grid-area: drop-down;

        margin-top: inputs.$drop-down-margin-top;

        .drop-down-container .drop-down-item {
            @include inputs.padding($right: $drop-down-icon-wrapper-width); // same padding to ensure input text does not flow into drop-down icon
        }
    }

    // state
    &.disabled {
        .input-wrapper ::deep .combo-box-input {
            opacity: unset; // avoids applying styles from @include inputs.disabled-style() twice
        }
    }

    &.read-only {
        .drop-down-icon-wrapper {
            opacity: inputs.$disabled-opacity;
        }
    }

    // interaction
    &:hover {
        &:not(.disabled):not(.read-only) {
            .drop-down-icon-wrapper {
                cursor: pointer;
            }

            &:has(.drop-down-icon-wrapper:hover) {
                .input-wrapper ::deep .combo-box-input {
                    border-color: colors.$accent-hover;
                }
            }
        }
    }
}
