@use "../Styles/design/colors";
@use "../Styles/animations/mixins" as animations;
@use "../Styles/inputs";
@use "../Styles/mixins";
@use "../Styles/user-interaction";

@use "sass:color";

.combo-box {
    background-color: color.adjust(colors.$theme, $alpha: -0.95);

    display: inline-grid;
    grid-template-rows: auto 0px;
    grid-template-areas:
        "input"
        "drop-down";

    vertical-align: middle;

    &.read-only {
        pointer-events: none;
    }

    @include inputs.single-line-text-input-style();
    @include inputs.typography(); 
    @include inputs.disabled-style();

    .input-wrapper {
        grid-area: input;

        position: relative;

        ::deep input {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            min-width: 0; // allow input to shrink when the outer element is smaller than the default minimum input width applied by the browser
            height: stretch;

            background: transparent;
            color: color.adjust(colors.$font-light, $alpha: -0.2);

            border-width: 1px;
            border-style: solid;
            border-color: color.adjust(colors.$theme-inverted, $alpha: -0.8);
            border-radius: inputs.$border-radius;
            @include animations.border-color();

            @include inputs.typography();
            @include inputs.padding($right: 28px);
            @include inputs.invalid-style();

            @include mixins.overflow-ellipsis();

            &:disabled {
                opacity: 1;
            }

            &[readonly] {
                @include user-interaction.show-pointer-cursor();
                @include user-interaction.prevent-text-selection();
            }

            &:not([readonly]) {
                cursor: text;
            }

            &:not(:disabled) {
                &:focus {
                    outline: none;
                    border-color: colors.$accent;
                }

                &:hover {
                    border-color: colors.$accent-hover;
                }
            }
        }
    }

    ::deep .drop-down-icon {
        grid-area: input;

        align-self: center;
        justify-self: end;

        margin: 0;
        right: 5px;
        position: relative;

        pointer-events: none;
    }

    ::deep .drop-down {
        grid-area: drop-down;

        margin-top: inputs.$drop-down-margin-top;

        .drop-down-container .drop-down-item {
            @include inputs.padding($right: 28px);
        }
    }
}
