@use "variables";
@use "sass:list";

$transition-color: color variables.$duration variables.$effect;
$transition-border-color: border-color variables.$duration variables.$effect;
$transition-background-color: background-color variables.$duration variables.$effect;
$transition-opacity: opacity variables.$duration variables.$effect;

@mixin color() {
    transition: $transition-color;
}

@mixin border-color() {
    transition: $transition-border-color;
}

@mixin background-color() {
    transition: $transition-background-color;
}

@mixin multiple($color: false, $border: false, $background-color: false, $opacity: false) {
    transition: build-transition-expression($color, $border, $background-color, $opacity);
}

@mixin opacity() {
    transition: $transition-opacity;
}

@function build-transition-expression($color: false, $border: false, $background-color: false, $opacity: false) {
    $transition-expression: ();

    @if ($color) {
        $transition-expression: list.append($transition-expression, $transition-color, $separator: "comma");
    }

    @if ($border) {
        $transition-expression: list.append($transition-expression, $transition-border-color, $separator: "comma");
    }

    @if ($background-color) {
        $transition-expression: list.append($transition-expression, $transition-background-color, $separator: "comma");
    }

    @if ($background-color)
    {
        $transition-expression: list.append($transition-expression, $transition-opacity, $separator: "comma");
    }

    @return $transition-expression;
}
