@use "../../Styles/design/animations/mixins" as animations;
@use "../../Styles/buttons/mixins" as buttons;

.tab-strip-scroll-button {
    font: inherit;

    @include buttons.lucent-styling();

    @include animations.multiple($color: true, $opacity: true);

    &.active {
        pointer-events: initial;
    }

    &:not(.active) {
        pointer-events: none;

        opacity: 0.3;
    }
}
