@use "../design/colors";
@use "../design/animations/mixins" as animations;
@use "../user-interaction";

// applies a lucent appearance with a transparent background, no borders and
// accent coloring on hover / focus for text / icons displayed in the button
@mixin lucent-styling() {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;

    display: inline-flex;

    color: inherit;
    @include animations.color();

    &:not(:disabled) {
         &:hover {
            color: colors.$accent-hover;
        }
    }

    &:focus {
        color: colors.$accent;
    }

    @include no-outline-on-focus();
}

@mixin no-outline-on-focus() {
    &:focus {
        outline: none;
    }
}
