@use "../../Styles/design/typography";
@use "../../Styles/user-interaction";

.context-menu-header {
    padding: 0px 4px;
    text-transform: uppercase;

    @include user-interaction.prevent-text-selection();

    span {
        font-size: 10px;
        font-weight: typography.$font-weight-bold;
    }
}
