li {
    &:focus-within {
        outline-width: 0.125rem;
        outline-style: solid;
        outline-color: rgb(255, 150, 0);
        outline-offset:-1.625px;
    }

    .context-menu-item {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        cursor: pointer;
        white-space: nowrap;
        border-radius: inherit;
        outline: none;

        $padding-y: 0.31253125rem;
        $padding-x: 0.5rem;

        padding: $padding-y $padding-x $padding-y $padding-x;

        $expected-icon-size: 16px;

        .expander-icon-container {
            width: $expected-icon-size;
            height: $expected-icon-size;

            // Center larger icon in container horizontally and vertically
            display: flex;
            align-items: center;
            justify-content: center;

            & > * {
                flex-shrink: 0;
            }
        }

        $text-padding-left: 6px;

        .text {
            display: inline-block;
            margin-right: auto;
            padding-left: $text-padding-left;
        }

        &:not(.with-icon) {
            .text {
                padding-left: $expected-icon-size + $text-padding-left;
            }
        }

        &.disabled {
            cursor: default;
            opacity: 0.6;
        }

        &:not(.disabled) {
            &:hover {
                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: inherit;
                    background-color: currentcolor;
                    opacity: 10%;
                }
            }

            &:active {
                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: inherit;
                    background-color: rgb(255, 150, 0);
                    opacity: 80%;
                }
            }
        }
    }
}
