.context-menu-button-row {
    display: grid;
    grid-row-gap: 4px;
    grid-template-rows: repeat(2, max-content);
    padding: 2px 4px;

    .title {
        font-size: 10px;
        line-height: 10px;
    }

    .button-container {
        display: grid;
        grid-auto-flow: column dense;
        grid-column-gap: 2px;
        grid-template-columns: repeat(var(--button-count), auto);
        margin-right: auto;
        width: 100%;
    }
}
