@use "../../Styles/design/animations/mixins" as animations;
@use "../../Styles/design/button";
@use "../../Styles/design/colors";
@use "../../Styles/user-interaction";

.context-menu-button {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: center;
    padding: 0px;

    border-radius: button.$border-radius;

    background-color: transparent;
    @include animations.background-color();

    ::deep .icon {
        width: 16px;
        height: 16px;
    }

    &.disabled {
        opacity: 0.5;
    }

    &:not(.disabled) {
        @include user-interaction.show-pointer-cursor();

        &:focus, &:hover {
            background-color: colors.$background-light-hover;
        }
    }
}
