@use "../../../Styles/mixins";

.moveable-container-border {
    display: inline-block;

    @include mixins.dotted-border();

    .moveable-container {
        position: relative;

        width: 480px;
        height: 360px;

        @include mixins.dotted-grid();
    }
}
