@use "../../../Styles/design/colors";

.shape-move-handle {
    position: absolute;
    top: -8px;
    left: 8px;

    width: 32px;
    height: 32px;

    z-index: 1;

    background-color: colors.$border;
    color: colors.$font-light;

    ::deep .icon {
        transform: scale(0.5);
        transform-origin: top left;
    }
}
