@use "../../../Styles/mixins";

.shape {
    width: 160px;
    height: 160px;

    &.moving-ongoing, &.moved, &.positioned {
        position: absolute;
    }

    @include mixins.shape-styles($feature-css-class: "moveable",
        $started-css-class: "moving",
        $ongoing-css-class: "moving-ongoing",
        $hide-content-when-ongoing: true);
}
