@use "../../Styles/mixins";

.options {
    @include mixins.options-styling();
}

.stack-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .error-boundary-container {
        position: relative;

        box-sizing: content-box;

        width: 325px;
        height: 220px;

        display: grid;
        justify-items: center;
        align-items: center;

        @include mixins.dotted-border();

        &.width {
            &.two-line {
                width: 155px;
            }

            &.three-line {
                width: 130px;
            }

            &.only-icon {
                width: 80px;
            }
        }

        &.height {
            &.without-button {
                height: 180px;
            }

            &.without-details {
                height: 85px;
            }

            &.without-header {
                height: 80px;
            }
        }
    }
}
