@use "../../../Styles/design/colors";
@use "../../../Styles/mixins";
@use "../../../Styles/design/tooltip";

.options {
    @include mixins.options-styling();
}

.page-container {
    display: grid;
    grid-template-rows: repeat(2, min-content) auto;
    height: 100%;
}

.tabular-tooltip-content {
    @include tooltip.separator-styles();

    display: grid;
    grid-template-rows: auto auto auto;

    & .header {
        color: tooltip.$header-text-color;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
    }

    & .data-table {
        display: grid;
        grid-column-gap: 16px;
        grid-template-columns: 1fr 2fr;
        padding: 8px;
        white-space: nowrap;

        & label {
            color: colors.$font;
        }

        & span {
            color: colors.$font-light;
        }
    }
}

.tooltip-area {
    border: 1px solid colors.$accent;
    border-radius: 8px;
    display: flex;
    margin: 8px;
    padding: 8px;

    &:not(.tooltip-wont-display) {
        &::before {
            content: "Hover over text to see the associated tooltip";
            font-size: 10px;
            position: absolute;
            pointer-events: none;
        }
    }
}

.tooltip-content {
    color: tooltip.$content-text-color;
    display: grid;
    grid-column-gap: 8px;
    grid-template-columns: auto min-content;
    padding: 8px;
    width: 250px;
}

.tooltip-grid {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.tooltipped-content {
    place-self: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
