@use "../Styles/design/colors";

@mixin dotted-border($color: colors.$border) {
    border-width: 2px;
    border-style: dotted;
    border-color: $color;
}

@mixin dotted-grid($dot-color: colors.$border) {
    $grid-size: var(--grid-size);
    $grid-offset: calc(#{$grid-size} / 2);

    background-image: radial-gradient(circle, #{$dot-color} 0px, transparent 1px);
    background-size: $grid-size $grid-size; // spacing between dots
    background-position-x: $grid-offset;
    background-position-y: $grid-offset;

    background-color: colors.$background-darker;
}

@mixin header-and-content-padding() {
    padding-left: 20px;
    padding-right: 20px;
}

@mixin options-styling() {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-auto-flow: row;
    align-items: center;
    column-gap: 16px;
    row-gap: 8px;

    .option {
        display: contents;

        & > *:first-child {
            grid-column: 1;
        }

        & > *:last-child {
            grid-column: 2;
        }
    }
}
