@use "../../Styles/design/colors";
@use "../../Styles/mixins";
@use "../../Styles/user-interaction";
@use "../../Styles/design/tooltip";

.expansion-placeholder {
    grid-area: expansion;
}

.tooltip {
    position: relative;
    width: fit-content !important;
    max-width: 200px;
    left: -55px;
    top: 8px;

    padding: 5px 8px;
}

.name-tooltip {
    @include tooltip.separator-styles();

    @extend .tooltip;
    padding: 0px;
    display: grid;
    grid-template-rows: auto, auto, auto;

    & .display-name {
        @include mixins.overflow-ellipsis();
        color: tooltip.$header-text-color;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        padding: 0px 8px;
    }

    & .description {
        padding: 8px;
    }
}

.information-tooltip {
    @extend .tooltip;
}

.information-visible {
    grid-gap: 4px;
    grid-template-columns: auto 16px 0px;
}

.property-name-container {
    cursor: default;
    display: grid;
    grid-area: name;
    padding: 11px 5px;
    padding-left: calc(5px + 16px * var(--indent-mult));

    @include user-interaction.prevent-text-selection();

    & .property-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .information-icon-container {
        display: contents; // ensures icon does not have default block element spacing, which would otherwise change the actual row height possibly leading to unwanted scrollbars
    }
}

.property-row {
    background-color: colors.$background-dark;
    display: grid;
    grid-template-columns: 16px 120px minmax(80px, 1fr) 30px; // minmax() to https://css-tricks.com/preventing-a-grid-blowout
    grid-template-areas: "expansion name value wizard";
    height: 38px;
    line-height: normal;

    align-items: baseline;

    &.hidden {
        display: none;
    }
    
    &.has-value-different-from-default-value {
        .property-name {
            font-weight: bold;
        }

        .property-wizard {
            background-color: colors.$font-light;
        }
    }

    &.has-multiple-values {
        .property-name {
            color: lightblue;
        }
    }
}

.property-value {
    grid-area: value;
    padding: 0px 5px;
    position: relative;

    // make input components span full width
    &:not(:has(.combo-box)) {
        display: flex;
        flex-direction: column;
    }

    &:has(.combo-box) {
        align-self: center;

        ::deep .combo-box {
            width: 100%;
        }
    }
}

.property-wizard {
    background-color: colors.$background-light;
    border: 1px solid rgb(177, 177, 177);
    display: flex;
    grid-area: wizard;
    height: 9px;
    justify-self: center;
    margin-right: 12px;
    width: 9px;

    @include user-interaction.prevent-text-selection();
}
