[*]
trim_trailing_whitespace = true

[*.cs]
dotnet_diagnostic.IDE0001.severity = warning # Simplify name
dotnet_diagnostic.IDE0021.severity = warning # Use expression body for constructors
dotnet_diagnostic.IDE0022.severity = warning # Use expression body for methods
dotnet_diagnostic.IDE0025.severity = warning # Use expression body for properties
dotnet_diagnostic.IDE0028.severity = warning # Use collection initializers
dotnet_diagnostic.IDE0031.severity = warning # Use null propagation
dotnet_diagnostic.IDE0036.severity = warning # Order modifiers
dotnet_diagnostic.IDE0040.severity = warning # Add accessibility modifiers
dotnet_diagnostic.IDE0055.severity = warning # Fix formatting
dotnet_diagnostic.IDE0078.severity = warning # Use pattern matching
dotnet_diagnostic.IDE0120.severity = warning # Simplify LINQ expression
dotnet_diagnostic.IDE0161.severity = warning # Use file-scoped namespace
dotnet_diagnostic.IDE0270.severity = warning # Null check can be simplified (if null check)
dotnet_diagnostic.IDE0290.severity = warning # Use primary constructor

dotnet_diagnostic.CA1812.severity = none # Avoid uninstantiated internal classes
dotnet_code_quality.CA1812.ignore_internalsvisibleto = true # Ensures CA1812 actually comes up when severity is changed from none to something else in the future as we apply InternalsVisibleTo in Directory.Build.props and in certain projects

dotnet_diagnostic.CA1822.severity = warning # Mark members as static
dotnet_diagnostic.CA1849.severity = warning # Call async methods when in an async method
dotnet_diagnostic.CA1852.severity = warning # Seal internal types
dotnet_diagnostic.CA1859.severity = warning # Use concrete types when possible for improved performance

dotnet_diagnostic.SYSLIB1006.severity = warning # Multiple logging methods cannot use the same event ID

[*.nt.cs]
dotnet_diagnostic.IDE0057.severity = none # NTypewriter templates require Substring() instead of range operator to avoid CS0518 (System.Range not defined)

[package.json]
indent_size = 2
