@use "../Styles/design/colors";
@use "../Styles/inputs";
@use "../Styles/mixins";

@use "sass:color";

.tag-box {
    max-width: 100%;
    height: auto;
    min-height: 24px;

    display: inline-grid;
    grid-template-rows: auto 0px;

    background-color: color.change(colors.$theme, $alpha: 0.05);
    color: color.change(colors.$theme-inverted, $alpha: 0.8);

    @include inputs.color-scheme();
    @include inputs.typography();
    @include inputs.disabled-style();

    .content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 2px;

        padding: 2px 10px;

        overflow: hidden;

        @include inputs.border();

        .tag-input {
            flex: 1 1 5px;

            max-width: 100%;
            min-width: 5px;
            height: 16px;

            padding: 0px 2px;

            box-shadow: none;
            border: none;
            background-color: transparent;

            @include mixins.overflow-ellipsis();

            outline: none;

            @include inputs.typography();
        }
    }

    ::deep .drop-down {
        margin-top: inputs.$drop-down-margin-top;

        .drop-down-container .drop-down-item {
            @include inputs.padding();
        }
    }

    &:not(:has(.tag-input:disabled, .tag-input:read-only)) {
        &:focus-within .content {
            border-color: colors.$accent;
        }

        &:hover .content {
            border-color: colors.$accent-hover;
        }
    }
}
