.demo {
    margin-bottom: 32px;

    --overflow-background: transparent;

    .layer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .layer-1 {
        width: 120px;
        height: 120px;
        background-color: rgba(255, 0, 0, 0.2);

        .layer-2 {
            width: 90px;
            height: 90px;
            background-color: rgba(0, 255, 0, 0.2);

            .layer-3 {
                width: 60px;
                height: 60px;
                background-color: rgba(0, 0, 255, 0.2);
            }
        }

        .layer-opaque {
            width: 90px;
            height: 90px;
            background-color: rgb(100, 100, 100);
        }

        .layer-clear {
            width: 90px;
            height: 90px;
            background-color: transparent;
        }
    }

    .layer-opacity {
        width: 120px;
        height: 120px;
        background-color: rgba(255, 0, 0, 0.5);
        opacity: 0.5;
    }

    .split {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;

        &.split-start {
            justify-content: flex-start;
        }

        .split-half {
            position: absolute;
            top: 0;
            height: 100%;
            width: 50%;

            &.split-left {
                left: 0;
                background-color: rgba(255, 0, 0, 0.2);
            }

            &.split-right {
                right: 0;
                background-color: rgba(0, 0, 255, 0.2);
            }
        }

        .split-full {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &.split-blue {
                background-color: rgba(0, 0, 255, 0.2);
            }
        }

        .split-left-half {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;

            &.split-red {
                background-color: rgba(255, 0, 0, 0.2);
            }
        }

        .split-inner {
            position: relative;
        }
    }

    .inner-layer {
        position: relative;
        width: 100%;
        height: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            pointer-events: none;
            background: linear-gradient(90deg, var(--overflow-background) 0, transparent 100%);
        }

        &.split-inner-half {
            width: 50%;
        }
    }
}
